<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">Mongo Scraper</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="/saved">Saved Articles</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div class="row headline opacity">
        <h1>SAVED ARTICLES</h1>
    </div>
    <div id="warning" class="row" style="display: block;">
        <h4>There is no any article saved.</h4>
        <h4>Please go back to save articles.</h4>
        <a href="/"><i class="medium material-icons" id="home">home</i></a>
    </div>
    <div id="saved_article_display" class="row opacity">
    </div>
    <div id="note_form" class="row" style="display: none;">
        <form class="col s10 offset-s2">
            <div class="row">
                <div id="note_list" class="col s12">
                </div>
                <div class="input-field col s12">
                    <textarea id="note_body" class="materialize-textarea"
                        data-length="200">Please enter note here</textarea>
                </div>
                <div id="btn_area" class="col s12">
                    <button id="submitBtn" class="btn waves-effect waves-light btn-small" type="submit">Save Note
                        <i class="material-icons right">save</i>
                    </button>
                    <button id="deleteBtn" class="btn waves-effect waves-light btn-small" type="submit">Delete Note
                        <i class="material-icons right">delete</i>
                </div>
                </button>
            </div>
        </form>
    </div>
</div>