body {
    /* background-image: url("../images/newpaper.jpg");
    background-color: #424242;
    background-blend-mode: hard-light; */
}

.brand-logo {
    margin-left: 15px;
    margin-right: 15px;
}

#fixed-action-btn {
    position: fixed;
    top: 200px;

}

.headline {
    text-align: center;
}

h1 {
    font-family: 'Prata', serif;
    color: white;
    font-weight: 700;
    text-shadow: 3px 3px #000000;
}

#warning {
    padding: 10px;
    text-align: center;
    background: white;
}

button:hover {

}